/* 
   RESET BÁSICO*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
   ESTILOS GENERALES
*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* 
   HEADER
*/
header {
    background-color: #4c4eaf;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #333;
    margin-bottom: 20px;
}

/* 
   CONTENEDOR PRINCIPAL
*/
.container {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

/* 
   SIDEBAR
*/
.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* 
   CONTENIDO PRINCIPAL
*/
.content {
    background-color: white;
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* 
   GALERÍA (3 ARRIBA Y 3 ABAJO)
 */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 20px;
    margin-top: 20px;
}

/* TARJETAS */
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

/* Imagen de la tarjeta */
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}



/* TEXTO DE LA TARJETA */
.card-body {
    margin-top: 8px;
}

.card-body h3 {
    font-size: 1rem;
    margin-bottom: 4px;
}

.card-body p {
    font-size: 0.9rem;
    color: #555;
}

/* 
   FOOTER
*/
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #333;
    margin-top: 20px;
}

